body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #630808;
}

#play-button {
    background-color: #FFD700;
    color: #8B0000;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
}

#play-button:hover {
    background-color: #E6BE00;
}

.container {
    text-align: center;
}
audio{
    display: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    color: #e9ca19;
    margin-top: 20px;
    z-index: 1;
}

h2 {
    font-family: "Romanesco", cursive;
    font-size: 36px;
    color: #f3e69e;
    margin-top: 20px;
    z-index: 1;
}

.flower-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flower {
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
}

.petal {
    width: 45px;
    height: 20px;
    background-color: #f1d013;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 100%;
}

.p1 { transform: translate(-50%, -50%) rotate(0deg); }
.p2 { transform: translate(-50%, -50%) rotate(36deg); }
.p3 { transform: translate(-50%, -50%) rotate(72deg); }
.p4 { transform: translate(-50%, -50%) rotate(108deg); }
.p5 { transform: translate(-50%, -50%) rotate(144deg); }
.p6 { transform: translate(-50%, -50%) rotate(180deg); }
.p7 { transform: translate(-50%, -50%) rotate(216deg); }
.p8 { transform: translate(-50%, -50%) rotate(252deg); }
.p9 { transform: translate(-50%, -50%) rotate(288deg); }
.p10 { transform: translate(-50%, -50%) rotate(324deg); }

/* Agrega las siguientes clases para las animaciones */
@keyframes fadeInPetal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutPetal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.petal {
    /* Agrega una animación de entrada a los pétalos */
    animation: fadeInPetal 0.5s ease-in-out both;
}


